<h3><%= @user.name if @user.name %> <small><%= link_to ">> #{t('Contact_with')} #{@user.name} <<", new_user_contact_path(@user) unless current_user == @user %></small></h3> 
<div>
  <%# image_tag @user.avatar.url %>
  <%# image_tag @user.avatar.url(:medium) %>
  <%# image_tag @user.avatar.url(:thumb) %>
  <%= cl_image_tag(@user.avatar.path) if @user.avatar.present? %>
</div>
<!--<p>Name: <%# @user.name if @user.name %></p>-->
<!--<p>Email: <% @user.email if @user.email %></p>
<p>Role: <% @user.role.upcase if @user.role %></p>-->
<p><%= t('Last_sign_in_at') %>: <%= @user.last_sign_in_at if @user.last_sign_in_at %></p>
<br>
<p><%= t('Number_of_comments') %>: <%= @user_comments %></p>
<!--<p>Last sign in from: <% @user.last_sign_in_ip if @user.last_sign_in_ip %></p>-->
<div><%= render 'posts/user_posts' %></div>
<div><%# render '' 
%></div>
<br><br>