<div class="container">
  <div class="row">
    <h3><%= t('Listing_contacts') %></h3>
    <div class="column">
      <table class="table table-striped">
        <tbody>
          <tr class="info">
            <td><%= t('Name') %></td>
            <td><%= t('Registration_email') %></td>
            <td><%= t('Content') %></td>
            <td><%= t('Action') %></td>
          </tr>
          <% @contacts.each do |contact| %>
            <tr>
              <%= render contact %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div> 
<!--<%# link_to 'Show', contact %>
<%# link_to 'Edit', edit_contact_path(contact) %>
<%# link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }-->