<% post = exhibit(post, self) %>
<p id="notice"><%= notice %></p>
<%# link_to "<< Previous", @previous if @previous.present? %><%= link_to "Next >>", @next if @next.present? %><br>
<%= link_to '<< Previous', post_path(post.prev) if post.prev.present? %> |<%= link_to 'Up', post_path(post.up) if post.up %>| <%= link_to 'Next >>', post_path(post.next) if post.next.present? %>
<br><br>
<article>
  <header>
    <h2><%= link_to post.title, post %></h2>
    <%= post.created_at %><br>
    <small>By <%= link_to post.author, post.user %></small>
    <%# simple_format(post.text) 
%>
    <div class="entry_tags"><b>Tags:</b> 
      <%# post.tags #.render(self) 
%>
    </div>
  </header>
  <!--<p><%# post.body %></p>-->
  <%= post.render_body(self) %>
  <p>
    <h3>Comments</h3>
    <%= render post.comments %>
    <%= render "comments/form" %>
  </p>
  <% if user_signed_in? %>
    <% if current_user.admin? || current_user.id == post.user_id %>
      <%= link_to 'Edit', edit_post_path(post) %> |
    <% end %>
    <% if current_user.admin? %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>
  <% end %>
  <%= link_to 'Back', posts_path %>
  <hr>
</article>
