<p id="notice"><%= notice %></p>
<%= link_to "<< Previous", @previous if @previous.present? %> | <%= link_to "Next >>", @next if @next.present? %>
<br><br>
<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <h3>Comments</h3>
  <%= render @post.comments %>
  <%= render "comments/form" %>
</p>

<% if user_signed_in? %>
<% if current_user.admin? || current_user.vip? %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
<% end %>
<%= link_to 'Back', posts_path %>