<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('Home'), root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder=<%= t('Search') %>>
        </div>
        <button type="submit" class="btn btn-default"><%= t('Submit') %></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('Language') %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="language_changer" onclick="KLIK('lt');"><a href="">LT</a></li>
            <li class="language_changer" onclick="KLIK('en');"><a href="">EN</a></li>
            <li class="disabled"><a href="">PL</a></li>
            <li class="disabled"><a href="">RU</a></li>
            <li class="divider"></li>
            <li><a href="#"><%= t('Suggest') %></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
