<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Blog" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Blog" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="authform_body">
         <%= render 'layouts/messages' %>
         <%= yield %>
        <h4>Tags</h4>
        <nav>
          <ul>
            <%# render partial: "/tags/tag_item", collection: @blog.entries 
%>
            <!-- vietoj @blog.entries turi buti @blog.tags -->
          </ul>
        </nav>
      </div>
    </main>
  </body>
</html>
